<div class = container >
  <h1>My List Of Superpower</h1>
  <ul>
   <div class="cards-power">
        <% @superpowers.each do |superpower| %>
           <%= link_to superpower_path(superpower) do %>
           <div class="card-power" style="background-image: url('<%= superpower.img_url %>')">
             <%= superpower.name %>
             <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
          </div>
          <% end %>
         <% end %>
    </div>
</div>

<%= link_to "create a new superpower", new_superpower_path, class: "btn btn-primary" %>
