<div class = container >
<h1>My List Of Superpower</h1>
<ul>
<% @superpowers.each do |superpower|%>
<li><%= superpower.name %></li>
<li><%= superpower.category %></li>
<li><%= superpower.price%></li>
<% end %>
</ul>
  <ul>
    <% @superpowers.each do |superpower|%>
      <li><%= superpower.name %></li>
    <% end %>
  </ul>
</div>

<%= link_to "create a new superpower", new_superpower_path, class: "btn btn-primary" %>
