<h1>My new superpower</h1>

<div class="container-superpower">


  <div class="card-superpower">
    <%= cl_image_tag @superpower.photo.key, crop: :fill %>
    <div class="card-power-infos">
        <div>
          <h2> <%= @superpower.name %> </h2>
          <h3> Category : <%= @superpower.category %> </h3>
          <h4> <%= @superpower.price %> $ </h4>
        </div>
    </div>
  </div>

<div class="booking">
  <%= simple_form_for [@superpower, @booking] do |f| %>
    <%= f.input :date_begin,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :date_end,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    <%= f.submit class:'btn btn-gradient'%>
  <% end  %>
  </div>
</div>
