<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Booking</title>
</head>
<body>
  <h1>New Booking</h1>

  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for [@superpower, @booking] do |f| %>
    <%= f.input :date_begin, html5: true %>
    <%= f.input :date_end, html5: true %>
    <%= f.submit %>
  <% end  %>

  <%= link_to 'Back', superpowers_path, class: 'btn btn-primary' %>
</body>
</html>
