<h1><%= @user.name %></h1>
<%= link_to "Delete account", user_path(@user),class: "btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<div>
  <h2>Bookings:</h2>
  <% if @bookings.any? %>
    <ul>
      <% @bookings.each do |booking| %>
        <li>
          <h3>Détails de la réservation</h3>
          <p><strong>Superpower:</strong> <%= booking.superpower.name %></p>
          <p><strong>Start Date:</strong> <%= booking.date_begin %></p>
          <p><strong>End Date:</strong> <%= booking.date_end %></p>
          <%= link_to "Supprimer la réservation", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Aucune réservation trouvée.</p>
  <% end %>
</div>
