
<h1 class="m-3"><%= @user.name %></h1>
<div class="m-3">

  <div>
    <h2>Bookings:</h2>
      <% if @bookings.any? %>
        <ul>
          <% @bookings.each do |booking| %>
            <li>
              <h3>Reservation details</h3>
              <div class="card-product">
                <%= cl_image_tag booking.superpower.photo.key, height: 500, width: 400, crop: :fill %>
                <div class="card-product-infos">
                  <h2><strong>Superpower :</strong> <%= booking.superpower.name %></h2>
                  <p><strong>Reservation Start Date :</strong> <%= booking.date_begin %></p>
                  <p><strong>Reservation End Date :</strong> <%= booking.date_end %></p>
                  <p><strong>Reservation price :</strong> <%= (booking.date_end - booking.date_begin).abs.to_i * booking.superpower.price %>$</p>
                </div>
                <%= link_to "Delete reservation", booking_path(booking), class: "btn btn-gradient", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No reservations found.</p>
      <% end %>
  </div>
  <%= link_to "Delete account", user_path(@user), class: "btn btn-outline-light btn-sm", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
